# Copyright (c) 2026 Brandon Beltran
# SPDX-License-Identifier: MIT

if BOARD_PALINDROME_LEFT

config ZMK_KEYBOARD_NAME
    default "Palindrome"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # left

if BOARD_PALINDROME_LEFT || BOARD_PALINDROME_RIGHT

config BOARD
    default "palindrome"

config ZMK_SPLIT
    default y

config BT_CTLR
    default BT

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB

endif